<!DOCTYPE html>
<html>
  <head>
    <link
      rel="shortcut icon"
      href="/images/android-chrome-192x192.png"
      type="image/x-icon"
    />
    <title>Spotify by Abhishek.</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <form action="/uploadMusic" method="post" enctype="multipart/form-data">
      <input type="file" name="song" multiple />
      <input type="submit" />
    </form>
  </body>
</html>
